.nav-bar{
    width: 100%;
    background-color: grey;
    height: 80px;
}

.logo{
    float: left;
    font-size: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: WHITE;
    margin:14px;
    margin-left: 20px;
}
.nav-btn{
    float:right;
    font-size: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    margin:20px;
    background-color: grey;
}

.dico-body{
    background-color: #D9E2E1;
    width: 100%;
    height: 100%;
}

.issue-form{
    width: 300px;
    padding: 20px;
    display: block;
    border: medium black;
}